.PlainInput {
	height: 35px;
	padding: 0 10px;
	border: 1px solid var(--lightgray);
	border-radius: 5px;
	outline: none;
}

.PlainInput:focus {
	outline-color: var(--color-theme-1);
	outline-width: 1px;
	outline-style: solid;
}
